body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  margin: 300px;
}

img {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin: 0;
}

p {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

.qr-section {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 15px 15px 20px 15px;
  margin: auto;
  width: 300px;
}

.text {
  color: hsl(220, 15%, 55%);
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.strong-text {
  color: hsl(218, 44%, 22%);
  display: inline-block;
  font-size: 1.4em;
  align-items: center;
  justify-content: center;
}
